<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
	<extensions>
		<add assembly="NLog.Extensions.Logging"/>
	</extensions>
	<targets>
		<target name="logfile" xsi:type="File"
				fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=ToString}"
				archiveEvery="Day"
				archiveFileName="${basedir}/logs/archives/{#}.log"
				archiveNumbering="Date"
				archiveDateFormat="yyyy-MM-dd"
				maxArchiveFiles="30" />
	</targets>
	<rules>
		<!-- Основное правило для записи логов -->
		<logger name="*" minlevel="Info" writeTo="logfile">
      <!-- Фильтр для игнорирования сообщений с "Executed DbCommand" -->
      <filters defaultAction="Log">
        <when condition="contains('${message}', 'Executed DbCommand')" action="Ignore" />
      </filters>
    </logger>
	</rules>
</nlog>